
.row{
    background-color: #e9c054;
   padding-top: 10%;
    padding-bottom: 5%;

}

#Login{
    padding-top: 5%;

}
#mainLogin{
    padding-top: 3%;
    padding-bottom: 2%;

    background-color: snow;
}