
html{
    background-color:#e9c054 ;
}
.row {
    background-color: #e9c054;
    padding-top: 5%;
    padding-bottom: 2%;

}

#Login {
    padding-top: 5%;

}

#mainLogin {
    padding-top: 3%;
    padding-bottom: 2%;

    background-color: snow;
}

.Header-parent{
    direction: rtl;
}
.container-fluid{
    background-color:#e9c054 ;
}